<ul class="navbar-nav ml-auto">
  <li>
    <div class="dropdown drp-user" ngbDropdown placement="auto">
      <a href="javascript:" ngbDropdownToggle data-toggle="dropdown">
        <img src="assets/images/user/avatar.png" class="img-radius wid-40" alt="{{login}}">
      </a>
      <div class="dropdown-menu dropdown-menu-right profile-notification" ngbDropdownMenu>
        <div class="pro-head">
          <img src="assets/images/user/avatar.png" class="img-radius" alt="{{login}}">
          <span>{{login}}</span>
          <a href="javascript:" (click)="logout()" class="dud-logout" title="Se déconnecter">
            <i class="feather icon-log-out"></i>
          </a>
        </div>
      </div>
    </div>
  </li>
</ul>