<div class="row">
    <!-- account-section start -->
    <div class="col-xl-6 col-md-12">
      <app-card cardTitle="Followers Instagram" [options]="false">
        <div id="chart-instagram-followers">
          <apx-chart
            [series]="chartOptionsInstagramFollowers.series"
            [chart]="chartOptionsInstagramFollowers.chart"
            [xaxis]="chartOptionsInstagramFollowers.xaxis"
            [stroke]="chartOptionsInstagramFollowers.stroke"
            [tooltip]="chartOptionsInstagramFollowers.tooltip"
            [dataLabels]="chartOptionsInstagramFollowers.dataLabels"
          ></apx-chart>
        </div>
      </app-card>
    </div>
    <div class="col-xl-6 col-md-12">
      <app-card cardTitle="Followers Twitter" [options]="false">
        <div id="chart-twitter-followers">
          <apx-chart
            [series]="chartOptionsTwitterFollowers.series"
            [chart]="chartOptionsTwitterFollowers.chart"
            [xaxis]="chartOptionsTwitterFollowers.xaxis"
            [stroke]="chartOptionsTwitterFollowers.stroke"
            [tooltip]="chartOptionsTwitterFollowers.tooltip"
            [dataLabels]="chartOptionsTwitterFollowers.dataLabels"
          ></apx-chart>
        </div>
      </app-card>
    </div>
    <!-- account-section end -->
</div>
<div class="row">
  <div class="col-xl-6 col-md-12">
    <app-card cardTitle="Vues Youtube" [options]="false">
      <div id="chart-youtube-views">
        <apx-chart
          [series]="chartOptionsYoutubeViews.series"
          [chart]="chartOptionsYoutubeViews.chart"
          [xaxis]="chartOptionsYoutubeViews.xaxis"
          [stroke]="chartOptionsYoutubeViews.stroke"
          [tooltip]="chartOptionsYoutubeViews.tooltip"
          [dataLabels]="chartOptionsYoutubeViews.dataLabels"
        ></apx-chart>
      </div>
    </app-card>
  </div>
  <div class="col-xl-6 col-md-12">
    <app-card cardTitle="Subscribers Youtube"  [options]="false">
      <div id="chart-youtube-subscribers">
        <apx-chart
          [series]="chartOptionsYoutubeSubscribers.series"
          [chart]="chartOptionsYoutubeSubscribers.chart"
          [xaxis]="chartOptionsYoutubeSubscribers.xaxis"
          [stroke]="chartOptionsYoutubeSubscribers.stroke"
          [tooltip]="chartOptionsYoutubeSubscribers.tooltip"
          [dataLabels]="chartOptionsYoutubeSubscribers.dataLabels"
        ></apx-chart>
      </div>
    </app-card>
  </div>
</div>
<div class="row">
  <div class="col-xl-6 col-md-12">
    <app-card cardTitle="Prix Gazoil" [options]="false">
      <div id="chart-prix-gazoil">
        <apx-chart
          [series]="chartOptionsPrixGazoil.series"
          [chart]="chartOptionsPrixGazoil.chart"
          [xaxis]="chartOptionsPrixGazoil.xaxis"
          [stroke]="chartOptionsPrixGazoil.stroke"
          [tooltip]="chartOptionsPrixGazoil.tooltip"
          [dataLabels]="chartOptionsPrixGazoil.dataLabels"
        ></apx-chart>
      </div>
    </app-card>
  </div>
  <div class="col-xl-6 col-md-12">
    <app-card cardTitle="Prix Essence"  [options]="false">
      <div id="chart-prix-essence">
        <apx-chart
          [series]="chartOptionsPrixEssence.series"
          [chart]="chartOptionsPrixEssence.chart"
          [xaxis]="chartOptionsPrixEssence.xaxis"
          [stroke]="chartOptionsPrixEssence.stroke"
          [tooltip]="chartOptionsPrixEssence.tooltip"
          [dataLabels]="chartOptionsPrixEssence.dataLabels"
        ></apx-chart>
      </div>
    </app-card>
  </div>
</div>