<div class="row">
    <!-- account-section start -->
    <div class="col-xl-6 col-md-12">
      <app-card cardTitle="Followers Instagram" [options]="false">
        
      </app-card>
    </div>
    <div class="col-xl-6 col-md-12">
      <app-card cardTitle="Followers Twitter" [options]="false">
       
      </app-card>
    </div>
    <!-- account-section end -->
</div>
<div class="row">
  <div class="col-md-6">
    <app-card cardTitle="Vues Youtube" [options]="false">
      <div id="chart">
        <apx-chart
          [series]="chartOptionsYoutubeViews.series"
          [chart]="chartOptionsYoutubeViews.chart"
          [xaxis]="chartOptionsYoutubeViews.xaxis"
          [stroke]="chartOptionsYoutubeViews.stroke"
          [tooltip]="chartOptionsYoutubeViews.tooltip"
          [dataLabels]="chartOptionsYoutubeViews.dataLabels"
        ></apx-chart>
      </div>
    </app-card>
  </div>
  <div class="col-md-6">
    <app-card cardTitle="Subscribers Youtube"  [options]="false">
      
    </app-card>
  </div>
</div>